
.codegpt
.DS_Store
.vscode
.ipynb_checkpoints
__pycache__
evaluation 
*.egg-info
*.egg
*.pyc
*.pyo
*.pyd
run
env_benchmark.h5
models.zip
ember/python/ember/examples/cpp_history.npz.npy
PPO_output/
experiments/
test_output/
wandb/